nav li:first-child {
    margin-right: auto;
    font-size: 24px;
}

nav {
    background-color: #00000071;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 5vh;
}

nav a{
    height: 5vh;
    padding: 0 1vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

#link:hover {
    background-color: rgba(136, 131, 131, 0.489);
}